a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {overflow: auto; overflow-y: auto;
  background-color: white;
  background-image: url('bg.png');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  margin: 0px;}

#jeeFaceFilterCanvas {
  z-index: 0;
  position: absolute; 
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  top: 50%;
  width: 100vmin;
  transform: translate(-50%, -50%) rotateY(180deg);
}

.hairstyle-switcher {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px;
}

.hairstyle-buttons {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hairstyle-buttons::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.hairstyle-buttons button {
  flex: 0 0 auto;
  width: 20%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

#threeCanvas{
  z-index: 11;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  top: 50%;
  width: 100vmin;
  transform: translate(-50%, -50%) rotateY(180deg);
}
